<!DOCTYPE html>
<html>
<head>
	<title>CAR</title>
</head>
<body>
	<div class="container1">
	    <h1>Add a new Car</h1>
	    <form role="form" method='POST' action='/post_user'>
	       <div class="form-group">
		  <label>Car Brand</label>
		  <input type="text" name="carbrand" class="form-control" id="carbrand" placeholder="Enter Car Brand">
		  <br>
	          <br>
		  <label>Car Model</label>
		  <input type="text" name="carmodel" class="form-control" id="carmodel" placeholder="Enter Car Model">
	       </div>
	       <button type="submit" class="btn btn-default">Submit</button>
	    </form>     
	</div>
</body>
</html>
